In [1]:
import pandas as pd

In [2]:
cities = pd.read_csv("cities.csv")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,jamestown,42.0970,-79.2353,63.99,76,10,1.99,US,1666651518
1,saint-philippe,-21.3585,55.7679,69.39,82,36,6.55,RE,1666651657
2,te anau,-45.4167,167.7167,50.59,51,11,2.37,NZ,1666651635
3,sao joao da barra,-21.6403,-41.0511,75.29,87,56,6.89,BR,1666651658
4,ilulissat,69.2167,-51.1000,25.84,87,100,4.83,GL,1666651658

In [3]:
cities.to_html("../visualizations/cities.html")